<!DOCTYPE HTML>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <!--   <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
    <pre><%=error%></pre> -->
    <a href="/users/login"><h1>登陆已失效请重新登录</h1></a>
  </body>
</html>
